@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
  color: white;
  background-color: hsl(218, 23%, 16%);
  display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.card{
  border-radius: 1.5rem;
  background-color:hsl(217, 19%, 24%);
  text-align: center;
  padding:3em;
}

.seperator{
  width: 80%;

}

.dice{
  border: 1rem solid hsl(150, 100%, 66%) ;
  background-color:hsl(150, 100%, 66%);
  cursor: pointer;
  border-radius: 50%;
 margin-top:  2rem;
}

